html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*a[class]{
    text-decoration: none;
}*/

/*    font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

body {
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #242121;
}

.header {
    min-height: 100vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 100px;
}

.container__header {
    max-width: 1195px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top-inner {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 40px;
}

.menu__list-link {
    padding: 0 2px 10px;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.6px;
    font-weight: 400;
}

.menu__list-link:hover {
    border-bottom: solid 1px #00B2A0;
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 98px);
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    color: #0D302C;
    margin-top: auto;
}

.header__subtitle {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 45px;
}

.about__text {
    display: flex;
}

.about__title {
    text-align: center;
    font-size: 47px;
    line-height: 56px;
    padding-bottom: 100px;
    letter-spacing: 0.6px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 45px;
    height: 52px;
    background-image: url("../img/line.svg");
}

.about__text p {
    padding-bottom: 27px;
    min-width: 480px;
    min-height: 100px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

.about__text-right p {
    margin-right: 123px;
}

.about {
    max-width: 1195px;
    margin: 0 auto;
    background-color: #FFF;
    padding-bottom: 100px;
}

.expertise {
    background-color: #F8F8F8;
    padding: 100px 0;
}

.container {
    max-width: 1195px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    color: #01353E;
    position: relative;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.6px;
    padding-bottom: 76px;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}

.expertise__item {
    position: relative;
}

.expertise__item-title {
    color: #242121;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    max-width: 200px;
    height: 56px;
    margin-bottom: 15px;
    padding-left: 65px;
}

.expertise__item-text {
    color: #242121;
    font-size: 14px;
    line-height: 18px;
    width: 350px;
    margin-bottom: 100px
}

.expertise__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--live::before {
    background-image: url("../img/live.svg");
}

.expertise__item--fly::before {
    background-image: url("../img/fly.svg");
}

.expertise__item--learn::before {
    background-image: url("../img/learn.svg");
}

.expertise__info {
    display: flex;
    justify-content: space-between;
}

.expertise__info-items {
    width: 350px;
}

.expertise__text {
    width: 600px;
}

.expertise__text p {
    padding-bottom: 30px;
}

.img_expertise__info-item {
    display: flex;
}

.img_expertise__info-item span {
    font-weight: 400;
    font-size: 24px;
    padding-left: 10px;
}

.description {
    padding-bottom: 10px;
}

.magic {
    background-image: url("../img/Rectangle 88.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
    /*    width: 960px;
        height: 825px;*/
}

.magic__inner {
    max-width: 470px;
    margin-right: auto;
    padding: 100px 0 160px;
}

.magic__title {
    margin-bottom: 25px;
}

.magic__text p {
    margin-bottom: 30px;
}

.gallery {
    padding-bottom: 200px;
}

.gallery h2 {
    padding-bottom: 200px;
}

.gallery__btn {
    background-color: transparent;
    border: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #242121;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-right: 20px;
    padding: 0 1px 50px;
}

.gallery__content {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-bottom: 50px;
}

.gallery__item {
    margin-bottom: 40px;
    position: relative;
}

.gallery__item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: white;
    background-color: #4C4A4A;
    border: 12px solid #7D7C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
}

.gallery__item:hover .gallery__item-link {
    opacity: 1;
}

.gallery__item img {
    width: 100%;
}

.gallery__add {
    display: block;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.2px;
    color: #242121;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 90px;
    background-color: white;
    margin-bottom: 200px;
    border: 1px solid #C4C4C4;
}


.blockquote {
    background-color: #F8F8F8;
    padding-top: 80px;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.6px;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #242121;
}

.blockquote__author {
    display: block;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 32px;
    padding-bottom: 60px;
}

.gallery__video {
    background-image: url("../img/playBG.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

.gallery__numbers {
    display: flex;
    justify-content: space-around;
}

.gallery__numbers-item {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
    margin-bottom: 9px;
}

.gallery__numbers-item span {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    color: #333333;
    display: block;
}

.gallery__filter-btn {
    margin-right: 40px;
}

.mixitup-control-active {
    border-bottom: 1px solid #FCBB08;
}

.slider-blog {
    background-image: url("../img/sliderBG.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 800px;
}

.slider-blog__item {
    padding: 200px 0 100px 400px;
}

.slider-blog__item-title {
    font-weight: 400;
    letter-spacing: 0.6px;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 10px;
    max-width: 700px;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}

.slider-blog__item-description {
    max-width: 700px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    font-weight: 300;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li + li {
    margin-left: 15px;
}

.slick-dots button {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}

.slick-dots .slick-active button {
    background-color: #00B2A0;
}
