*,
*::after,
*::before {
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
}

.wrapper {
    background-image: url("../img/bg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.container {
    max-width: 1195px;
    margin: 0 auto;
}

.header {
    padding-top: 34px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 166px;
}

.menu ul {
    display: flex;
}

.menu li + li {
    margin-left: 30px;
}

.menu a {
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
}

.item {
    text-align: center;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
}

.text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots li + li {
    margin-left: 15px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #FDD486;
    background-color: #7A3D1C;
    outline: none;
}