html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*a[class]{
    text-decoration: none;
}*/

/*    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;*/

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 32px;
}

.menu__list-link {
    padding: 0 9px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
    color: #373A39;
    transition: all .5s;
}

.menu__list-link:hover {
    border-bottom: solid 1px #FCBB08;
}

.header__content {
    background-image: url("../img/Header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 93px);
}

.header__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 130px;
}

.header__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FCBB08;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 62px;
}

.about {
    background-color: #F6F8FA;
    padding: 150px 0 144px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__text p {
    max-width: 770px;
    margin-bottom: 16px;
}

.title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;
}

.title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    bottom: 0;
    left: 0;
}

.about__title {
    font-size: 48px;
}

.expertise {
    padding: 140px 0 160px;
}

.expertise__title {
    margin-bottom: 90px;
}

.expertise__inner {
    display: flex;
    margin-bottom: 110px;
}

.expertise__info {
    width: 370px;
    margin-right: 30px;
    flex: none;
    margin-top: 10px;
}

.expertise__text p {
    margin-bottom: 25px;
}

.expertise__info-item {
    border-top: 2px solid #1D1D1D;
    padding: 2px 0 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #1D1D1D;
    position: relative;
}

.expertise__info-item span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 7px;
}

.expertise__info-item span::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f0f0f0;
    right: -7px;
    top: -2px;
    width: 100%;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}

.expertise__item {
    width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item-title {
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.expertise__item-text {
    color: #777;
}

.expertise__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before {
    background-image: url("../img/designicon.svg");
}

.expertise__item--dev::before {
    background-image: url("../img/monitoricon.svg");
}

.expertise__item--marketing::before {
    background-image: url("../img/speakericon.svg");
}

.magic {
    background: #F6F8FA;
    background-image: url("../img/dog.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 82%;
}

.magic__inner {
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 190px;
}

.magic__title {
    margin-bottom: 67px;
}

.magic__text p {
    margin-bottom: 25px;
}

.portfolio {
    padding: 140px 0 165px;
}

.portfolio__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;
}

.portfolio__btn {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 4px 5px;
    margin-right: 25px;

}

.portfolio__content {
    column-count: 4;
    column-gap: 25px;
    margin-bottom: 72px;
}

.portfolio__item {
    margin-bottom: 25px;
    position: relative;
}

.portfolio__item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: white;
    background-color: #4C4A4A;
    border: 12px solid #7D7C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
}

.portfolio__item:hover .portfolio__item-link{
    opacity: 1;

}

.portfolio__item img {
    width: 100%;
}

.portfolio__add {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
    text-align: center;
    text-transform: uppercase;
    padding: 42px 15px 41px;
    background-color: #F6F8FA;
    margin-bottom: 130px;
}

.blockquote {
    max-width: 650px;
    margin: 0 auto 148px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #242121;
}

.blockquote__author {
    padding-top: 50px;
    display: block;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 32px;
}

.portfolio__video {
    background-image: url("../img/playBG.jpg");
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers {
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
    margin-bottom: 9px;
}

.portfolio__numbers-item span {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    color: #333333;
    display: block;
}

.portfolio__filter-btn {
    margin-right: 40px;
}

.mixitup-control-active {
    border-bottom: 1px solid #FCBB08;
}