html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*a[class]{
    text-decoration: none;
}*/

/*    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;*/

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 32px;
}

.menu__list-link {
    padding: 0 9px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
    color: #373A39;
    transition: all .5s;
}

.menu__list-link:hover {
    border-bottom: solid 1px #FCBB08;
}

.header__content {
    background-image: url("../img/Header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 93px);
}

.header__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 130px;
}

.header__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FCBB08;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 62px;
}

