/**{
    margin: 0;
    padding: 0;
}*/

.wrapper{
    width: 1200px;
}

.title{
    text-align: center;
}

.text-1{
    font-size: 20px;
    background-color: #ccc;
}

.text-2{
    font-size: 18px;
    background-color: #ccc;
}
.text-3{
    font-style: italic;
}
.text-4{
    text-align: right;
    font-size: 14px;
}