* {
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.arrow {
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
}

.box {
    border: 2px solid black;
    background-color: #cccccc;
    height: 500px;
    margin: 20px 0;
    position: relative;
}

.text {
    padding: 20px;
    background-color: black;
    color: white;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.title {
    text-align: center;
}

.title-1 {
    font-size: 50px;
    margin: 25px 0 50px;
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: white;
    z-index: 3;
    transition: all .5s;
}

.title-1::before,
.title-1::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.title-1::after {
    right: 0;
    left: auto;
}

.title-1:hover {
    color: blue;
}

.images-1{
    transition: all 2s ease 0s;
}

.images-1:hover {
    transform: translate(0, -100px);
}

.text-1 {
    font-size: 20px;
    background-color: #ccc;
    width: 500px;
    padding: 50px;
    border: 20px solid black;
    height: 300px;
    overflow: auto;
    /*overflow: hidden;*/
    z-index: 2;
}

.text-1:hover {
    background-color: black;
    color: white;
}

.text-2 {
    font-size: 18px;
    background-color: #ccc;
}

.text-3 {
    font-style: italic;
}

.text-4 {
    text-align: right;
    font-size: 14px;
}